# Python bytecode
__pycache__/
*.py[cod]

# macOS files
.DS_Store

# Virtual environments
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Node modules
node_modules/

# Logs
*.log
